{
    "environment": "prod",
    "host": "localhost",
    "port": "9001",
    "database": {
        "which": "oracle",
        "oracle": {
            "connectionString": "scbdc:Password@localhost:1521/orclcdb"
        },
        "mongodb": {
            "host": "example.com:80808",
            "username": "example",
            "password": "example",
            "name": "scbdc"
        }
    }
}