{
    "environment": "prod",
    "host": "localhost",
    "port": "9001",
    "database": {
        "host": "example.com:80808",
        "username": "example",
        "password": "example",
        "name": "scbdc"
    }
}