# Select the appropriate golang image and version based on your project requirements
image: golang:latest

variables:
  REPO_NAME: eaciit/datacatalogue

cache:
  paths:
    - /apt-cache
    - /go/src/github.com
    - /go/src/golang.org

# Prepare directory and prepare all dependencies
before_script:
  - mkdir -p $GOPATH/src/$(dirname $REPO_NAME)
  - ln -svf $CI_PROJECT_DIR $GOPATH/src/$REPO_NAME
  - cd $GOPATH/src/$REPO_NAME

# Define stage flow, start from top to bottom
stages:
  - build

# Create artifact and distribute
artifact_upload:
  stage: build
  script:
    - sh build_linux.sh
    - mkdir -p ~/.ssh
    - echo "$SERVER_SSH_KEY" | tr -d '\r' > ~/developer.pem
    - chmod 600 ~/developer.pem
    - ssh-keyscan -H 'go.eaciit.com' >> ~/.ssh/known_hosts
    - scp -i ~/developer.pem builds/*.zip $SERVER_USER@$SERVER_HOSTNAME:/data/nginx/files/$CI_PROJECT_NAME/