.v-toolbar {
    background-color: #0072aa !important;
    color: #ffffff !important;
}
.v-toolbar .v-btn {
    color: #ffffff !important;
}

.v-toolbar .dropdown:hover .v-menu__content {
    display: block;
}

.v-toolbar__title.app-title {
    font-weight: bolder;
    color: #ffffff;
}

.v-toolbar__title.login-name {
    font-size: 14px;
}
.v-toolbar__title .toolbar-title, .standard-a, .standard-a:hover {
    color: inherit;
    text-decoration: inherit;
}

.v-tabs.page-tab .v-tabs__bar{
    background-color: transparent;
}

.main-table-search-dropdown-form{
    width: 300px;
}

.container-fluid-needpadding {
    padding-top: 24px;
    padding-right: 15px;
    padding-bottom: 24px;
    padding-left: 15px;
}

#modal-details .modal-details-header{
    border-bottom: 0px !important;
    padding: 0.5rem 1rem !important;
}

#modal-details .modal-body{
    padding: 0 1rem;
}

#modal-details .setbackground{
    background-color: #F2F3F7 !important;
}

#ddowntoolbar__BV_toggle_{
    background-color: transparent;
    border-color: transparent;
}

.scrollableasdf{
    overflow: scroll;
}

table.v-table thead th, .v-datatable th.column {
    font-weight: 900;
    color: black !important;
}

.v-tabs__item {
    font-weight: 900;
}

.v-menu__content.menuable__content__active .dropdown-wrapper{
    max-width: 300px;
}

.v-chip.full .v-chip__content { max-width: 70px; }
.v-chip.small .v-chip__content { max-width: 44px; }
.v-chip .v-chip__content span{
    max-width: 90%;
    word-break: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* .th-wrapper{ padding: 0px 24px; } */

.fixed-header table {
    table-layout: fixed;
}

.fixed-header th {
    background-color: #fff; /* just for LIGHT THEME, change it to #474747 for DARK */
    position: sticky;
    top: 0;
    z-index: 10;
}

.fixed-header tr.datatable__progress th {
    top: 56px;
}

.fixed-header .table__overflow {
    overflow: auto;
    height: 100%;
}

@media (min-width: 992px) {
    #modal-details .modal-lg{
        max-width: 80%;
    }
}

@media (min-width: 576px) {
    #modal-details .modal-lg{
        max-width: 80%;
    }
}