.v-toolbar__title.app-title {
    font-weight: bolder;
    color: #3269B4;
}

.v-toolbar__title.login-name {
    font-size: 14px;
}
.v-toolbar__title .toolbar-title {
    color: inherit;
    text-decoration: inherit;
  }

.v-tabs.page-tab .v-tabs__bar{
    background-color: transparent;
}

.main-table-search-dropdown-form{
    width: 300px;
}

.container-fluid-needpadding {
    padding-top: 24px;
    padding-right: 15px;
    padding-bottom: 24px;
    padding-left: 15px;
}

#modal-details .modal-details-header{
    border-bottom: 0px !important;
    padding: 0.5rem 1rem !important;
}

#modal-details .modal-body{
    padding: 0 1rem;
}

#modal-details .setbackground{
    background-color: #F2F3F7 !important;
}

#ddowntoolbarname__BV_toggle_{
    background-color: transparent;
    border-color: transparent;
}

.header-filter-icon{

}
.header-filter-icon .dropdown-menu{
    overflow: scroll;
    max-height: 200px;
    height: auto;
}

.scrollableasdf{
    overflow: scroll;
}

.fixed-header table {
    table-layout: fixed;
}

.fixed-header th {
    background-color: #fff; /* just for LIGHT THEME, change it to #474747 for DARK */
    position: sticky;
    top: 0;
    z-index: 10;
}

.fixed-header tr.datatable__progress th {
    top: 56px;
}

.fixed-header .table__overflow {
    overflow: auto;
    height: 100%;
}

@media (min-width: 992px) {
    #modal-details .modal-lg{
        max-width: 80%;
    }
}

@media (min-width: 576px) {
    #modal-details .modal-lg{
        max-width: 80%;
    }
}