* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
  
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
div#app {
    width: 100%;
    height: 100%;
}
  
div#app div#login {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
  
div#app div#login div#description {
    background-color: #ffffff;
    width: 280px;
    padding: 35px;
}
  
div#app div#login div#description h1,
div#app div#login div#description p {
    margin: 0;
}
  
div#app div#login div#description p {
    font-size: 0.8em;
    color: #95a5a6;
    margin-top: 10px;
}
  
div#app div#login div#form {
    background-color: #34495e;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px #666;
    color: #ecf0f1;
    width: 300px;
    padding: 35px;
}
  
div#app div#login div#form label,
div#app div#login div#form input {
    outline: none;
    width: 100%;
}
  
div#app div#login div#form label {
    color: white;
    font-size: 1em;
}

div#app div#login div#form .fas {
    color: rgb(149, 165, 166);
    caret-color: rgb(149, 165, 166);
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
}

div#app div#login div#form .passw-container {
    position: relative;
}
  
div#app div#login div#form input {
    /* background-color: transparent; */
    border: none;
    color: #34495e;
    font-size: 0.8em;
    margin-bottom: 20px;
}
  
div#app div#login div#form ::placeholder {
    color: #495158;
    opacity: 1;
}
  
div#app div#login div#form button {
    color: #34495e;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in-out;
    font-size: 0.9em;
    width: 40%;
}
  
div#app div#login div#form button:hover {
    background-color: #eeeeee;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
  
@media screen and (max-width: 600px) {
    div#app div#login {
        align-items: unset;
        background-color: unset;
        display: unset;
        justify-content: unset;
    }
  
    div#app div#login div#description {
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
    }
  
    div#app div#login div#form {
        border-radius: unset;
        box-shadow: unset;
        width: 100%;
    }
  
    div#app div#login div#form form {
        margin: 0 auto;
        max-width: 280px;
        width: 100%;
    }
}