.card-container{
    padding: 10px;
}

.force-elevation-0{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.row-kasijarak .row+.row {
    margin-top: 16px;
    margin-top: 1rem;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

html,
body {
  background-color: #eaeaea;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
  background-color: #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 7px !important;
  border: none !important;
}

.card:hover {
  box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card_circle {
  height: 400px;
  width: 150%;
  background: rgb(92,177,177);
background: linear-gradient(45deg, rgba(92,177,177,1) 0%, rgba(54,159,181,1) 41%, rgba(57,127,164,1) 64%);
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: -270px;
  transform: translateX(-50%);
}
.card:hover .card_circle{width: 180%;}
.card:hover h2{ font-size: 24px;}

.card h2 {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  z-index: 9999;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  font-family: 'Noto Sans', serif;
  font-weight: bold;
}
.card .card-content{
  margin-top: 150px;
  padding: 0px 20px;
}
.card .v-datatable__actions{justify-content: space-between;}
.card .v-datatable__actions__select,
.card .v-datatable__actions__range-controls {
    -webkit-box-flex: 0;
        margin: 0 !important;
}
.card .v-datatable__actions__select {
    max-width: 45%;
}
.card .v-datatable__actions__range-controls {
    max-width: 55%;
}
.card .v-datatable__actions__select .v-select {
    margin-left: 20px;
}
.card .v-datatable__actions__pagination {
    margin: 0 10px;
}