.card-container{
    padding: 10px;
}

.force-elevation-0{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.row-kasijarak .row+.row {
    margin-top: 16px;
    margin-top: 1rem;
}

/* ----- main 3 colors ------
#5cb1b1
#369fb5
#397fa4
----- end ----- */

/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans:300,400,600,700,400italic,700italic); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

body, .application--wrap{
    /* background-color: #fafafa !important; */
    background-color: rgba(242, 243, 247, 1) !important;
}

.dropdown-menu{margin-top: 0 !important;}
.bg-2 {
    background: linear-gradient(
        rgba(255, 255, 255, 1), 
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.3)
      ),
      url('../images/u2.png') center
      , url('../images/u2.png') center;
    background-size: cover;
}
.bg-light-grey {background-color: #E4E9EF !important;}

.btn {border-radius: 5px !important;}
.btn.icon-only {border: none !important; padding: 7px 14px;}
.btn.btn-link:hover{text-decoration: none;}
.btn.green-tosca {background-color: #00CC99 !important;}
.btn.green-tosca-gradient {background: rgb(85,180,183);
    background: linear-gradient(210deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);}
.btn.red-neon {background-color: #FF0033 !important;}

/* .v-icon.icon-active::before {
    content: "";
    position: absolute;
    background-color: rgba(170,170,170,0.5); 
    padding: 13px; 
    border-radius: 50%;
} */

.is-highlighted p {
    background-color: #009688 !important;
    padding: 3px 6px;
    color: #ffffff;
    border-radius: 5px;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.icon-filter {
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    opacity: 1 !important;
    color: black !important;
    position: relative !important;
}

.table-header-wrapper {
    width: unset !important;
    display: inline-block;
}
.table-header-wrapper  .dropdown-button-wrapper .btn{padding: 0 5px 0 10px;}
.table-header-wrapper  .dropdown-button-wrapper {position: unset;}

table.v-table thead th > div.btn-group {
    width: auto;
}
/* table.v-table thead tr th.hidden,
table.v-table tbody tr td.hidden{display: none;} */

.card {
  background-color: #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.3); */
  box-shadow: 3px 3px 5px rgba(204, 204, 204, 0.349019607843137);
  overflow: hidden;
  border-radius: 7px !important;
  border: none !important;
}

.card a,
.table-v1 a  {
    /* color: #5cb1b1; */
    color: #56B8BB;
}
.card a:hover,
.table-v1 a:hover {
    /* color: #397fa4; */
    color: #0072aa;
}
.card.link {cursor: pointer;}

.dropdown-wrapper{ max-height: 250px; overflow-y: scroll;}
.dropdown-wrapper .dropdown-item { text-overflow: ellipsis; overflow: hidden;}

.card.card-v1 {overflow: visible;}
.card.card-v1:hover {
  box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-circle {
  height: 450px;
  width: 150%;
  background: rgb(85,180,183);
  /* background: linear-gradient(45deg, rgba(85,180,183,1) 20%, rgba(85,180,183,1) 30%, rgba(1,115,170,1) 60%, rgba(1,115,170,1) 70%); */
  background: linear-gradient(210deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);
  background-size: cover;
  position: absolute;
  /* border-radius: 50%; */
  left: 50%;
  top: -270px;
  transform: translateX(-50%);
}
.card.card-v1:hover .card-circle{width: 180%; top: -260px;}
.card.card-v1 .title-wrapper{
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 5px 20px 25px 20px;
  background: rgb(85,180,183);
  background: linear-gradient(210deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);
  background-size: cover;
  border-radius: 7px 7px 0 0;
}
.card.card-v1:hover .title-wrapper {padding-bottom: 35px;}
.card.card-v1 .title-1 {
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  font-weight: bold;
}
.card.card-v1:hover .title-1{ font-size: 24px; margin-top: 50px;}
.card.card-v1 .card-icon{height: 60px; top: 40px;}
.card.card-v1:hover .card-icon {height: 70px; top: 35px;}
.card.card-v1 .toggle-field-display{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 12px;
}
.card .card-content{
  margin-top: 200px;
  padding: 0px 20px;
}

.card.card-v1 .v-icon.icon-filter,
.table-v1 .v-icon.icon-filter {border-radius: 50%; padding: 5px;}
.card.card-v1 .v-icon.icon-filter.icon-active {color: #fff !important; background-color: #56B8BB !important;}

.card.card-v1 table.v-table thead tr th .v-icon,
.table-v1 table.v-table thead tr th .v-icon{
    display: inline-block;
}

.card .v-table__overflow,
.table-v1 .v-table__overflow,
.table-v2 .v-table__overflow {overflow-x: auto; overflow-y: visible;}
/* .table-v1.table-w-button-left .v-table thead tr th:first-of-type {width: 100px;} */
.card .v-datatable__actions{justify-content: space-between;}
.card .v-datatable__actions__select,
.card .v-datatable__actions__range-controls {
    -webkit-box-flex: 0;
        margin: 0 !important;
}
.card .v-datatable__actions__select {
    max-width: 45%;
}
.card .v-datatable__actions__range-controls {
    max-width: 55%;
}
.card .v-datatable__actions__select .v-select {
    margin-left: 20px;
}
.card .v-datatable__actions__pagination {
    margin: 0 10px;
}

.card.card-v2 {padding: 15px; background: linear-gradient(90deg, rgba(0, 114, 170, 1) 0%, rgba(0, 114, 170, 1) 0%, rgba(86, 184, 187, 1) 74%, rgba(86, 184, 187, 1) 100%);}
.card.card-v2 .title-1 {font-weight: 600; font-size: 16px; color: #fff;}
.card.card-v2 .title-2 {font-weight: 700; font-style: normal; font-size: 18px; /*color: #0072AA;*/ color: #fff; margin-top: 10px;}

.card-circle-left {
    width: 225px;
    height: 130%;
    /* background: rgb(85,180,183);
    background: linear-gradient(315deg, rgba(85,180,183,1) 20%, rgba(85,180,183,1) 30%, rgba(1,115,170,1) 60%, rgba(1,115,170,1) 70%); */
    background: rgb(85,180,183);
    background: linear-gradient(210deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
}
.card-v3-wrapper {display: flex;
    align-items: center;
    justify-content: center;}
.card.card-v3 {padding: 15px;}
.card.card-v3:hover .card-circle-left{left: -60px; height: 135%;}
.card.card-v3 .card-icon{width: 80px; height: 80px; z-index: 1; margin: 20px;}
.card.card-v3:hover .card-icon {}
.card.card-v3 .card-content{margin-top: 0; display: flex; align-items: center; width: 100%; height: 120px;}
.card.card-v3 .title-1 {font-weight: 600; font-size: 16px; color: #666666;}
.card.card-v3 .title-2 {
    font-weight: 700; 
    font-style: normal; 
    font-size: 14px; 
    /* background: linear-gradient(240deg, rgba(0, 114, 170, 1) 0%, rgba(0, 114, 170, 1) 0%, rgba(86, 184, 187, 1) 74%, rgba(86, 184, 187, 1) 100%); */
    background: rgb(85,180,183);
    background: linear-gradient(210deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 12px 10px 10px 12px;
    border-radius: 25px 0px 0px 0px;
}

.table-v1,
.table-v2 {box-shadow: 3px 3px 5px rgba(204, 204, 204, 0.349019607843137);}
.table-v1 table.v-table thead {background: linear-gradient(240deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);}
.table-v1 table.v-table thead tr:first-child {border-bottom: none;}
.table-v1 table.v-table thead tr th {color: #ffffff !important; padding: 20px 30px; font-size: 14px;}
.table-v1 table.v-table thead tr th:first-of-type {border-top-left-radius: 7px; padding-left: 45px;}
.table-v1 table.v-table thead tr th:last-of-type {border-top-right-radius: 7px; padding-right: 45px;}
.table-v1 table.v-table thead tr th .v-icon.icon-filter {color: #fff !important; left: unset;}
.table-v1 table.v-table thead tr th .v-icon.icon-filter.icon-active {color: #397fa4 !important; }
.table-v1 table.v-table thead tr th .v-icon {color: #fff !important;}
/* .table-v1 table.v-table thead tr th:first-of-type .v-icon {left: 15px;} */
.table-v1 table.v-table tbody tr {border-bottom: none !important;}
.table-v1 > .v-table__overflow > table.v-table > tbody > tr.odd,
.table-v1 > .v-table__overflow > table.v-table > tbody > tr.odd + .v-datatable__expand-row .v-table {background-color: #ffffff;}
.table-v1 > .v-table__overflow > table.v-table > tbody > tr.even,
.table-v1 > .v-table__overflow > table.v-table > tbody > tr.even + .v-datatable__expand-row .v-table {background-color: #EEF3F9;}
.table-v1 table.v-table tbody tr td,
.table-v1 table.v-table tfoot tr td {padding: 30px; font-weight: 400; font-size: 14px;}
.table-v1 table.v-table tbody tr td:first-of-type,
.table-v1 table.v-table tfoot tr td:first-of-type {padding-left: 45px;}
.table-v1 table.v-table tbody tr td:last-of-type,
.table-v1 table.v-table tfoot tr td:last-of-type {padding-right: 45px;}
.table-v1 table.v-table tbody tr td.text-description {font-weight: 300; font-size: 13px;}
.table-v1 table.v-table tbody tr td.text-title {font-weight: 600;}
.table-v1 table.v-table tbody tr td .v-datatable__expand-content .v-table__overflow > table.v-table > tbody > tr > td {padding-top: 0; padding-bottom: 0;}
.table-v1 table.v-table tfoot {background: linear-gradient(240deg, rgba(86, 184, 187, 0.65) 0%, rgba(86, 184, 187, 0.65) 0%, rgba(87, 202, 157, 0.65) 90%, rgba(87, 202, 157, 0.65) 100%);}
.table-v1 table.v-table tfoot tr {border-top: none;}
.table-v1 table.v-table tfoot tr td {color: #fff;}
.table-v1 .v-table {background-color: transparent;}
.table-v1 > .v-table > .v-datatable__actions {border-radius: 0 0 7px 7px;}

.v-list__tile__title {height: 20px; line-height: 20px;}
.v-list__tile__title.border-dark{border-color: #aaaaaa !important;}

.v-tabs.page-tab .v-tabs__bar .v-tabs__slider.accent {
    background-color: rgb(85,180,183) !important;
    border-color: rgb(85,180,183) !important;
    height: 3px;
}
.v-tabs.page-tab .v-tabs__bar {
    padding: 20px 30px;
}
.table-v2-title{
    background: linear-gradient(240deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);
    padding: 15px 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px; 
}
.table-v2 table.v-table thead tr:first-child {border-bottom: none;}
.table-v2 table.v-table thead tr th {padding: 5px 5px; font-size: 12px; font-weight: 600;}
.table-v2 table.v-table thead tr th:first-of-type {padding-left: 20px;}
.table-v2 table.v-table thead tr th:last-of-type {padding-right: 20px;}
.table-v2 table.v-table thead tr th .v-icon {
    /* position: absolute; */
    /* left: -10px; */
    /* top: 47%; */
    /* transform: translateY(-50%); */
    font-size: 13px !important;
    vertical-align: unset;
}
/* .table-v2 table.v-table thead tr th:first-of-type .v-icon {left: 5px;}
.table-v2 table.v-table thead tr th.column.sortable.active.desc .v-icon {transform: translateY(-5px) rotate(180deg);} */
.table-v2 table.v-table thead tr th .dropdown {position: unset;}
.table-v2 table.v-table thead tr th .dropdown .btn {line-height: unset !important; padding: 0 10px; position: unset;}
/* .table-v2 table.v-table thead tr th .v-icon.icon-filter {display: none;} */
.table-v2 table.v-table thead tr th .v-icon.icon-filter.icon-active {
    color: #56B8BB !important;
    font-size: 14px !important;
    /* color: #fff !important; */
    /* background-color: #56B8BB !important; */
    /* border-radius: 50%; */
    /* padding: 5px; */
}
.table-v2 table.v-table tbody tr {border-bottom: none !important;}
.table-v2 > .v-table__overflow > table.v-table > tbody > tr.odd,
.table-v2 > .v-table__overflow > table.v-table > tbody > tr.odd + .v-datatable__expand-row .v-table {background-color: #ffffff;}
.table-v2 > .v-table__overflow > table.v-table > tbody > tr.even,
.table-v2 > .v-table__overflow > table.v-table > tbody > tr.even + .v-datatable__expand-row .v-table {background-color: #EEF3F9;}
.table-v2 table.v-table tbody tr td {padding: 5px 5px; font-weight: 300; font-size: 12px;}
.table-v2 table.v-table tbody tr td:first-of-type {padding-left: 20px;}
.table-v2 table.v-table tbody tr td:last-of-type {padding-right: 20px;}
/* .table-v2 table.v-table tbody tr td.text-description {font-weight: 300; font-size: 11px;} */
.table-v2 table.v-table tbody tr td.text-title {font-weight: 600;}
.table-v2 table.v-table tbody tr td .v-datatable__expand-content .v-table__overflow > table.v-table > tbody > tr > td {padding-top: 0; padding-bottom: 0;}
.table-v2 .v-table {background-color: transparent;}
.table-v2 > .v-table > .v-datatable__actions {border-radius: 0 0 7px 7px;}

/* The sticky class is added to the header with JS when it reaches its scroll position */
table.v-table.v-datatable .sticky {
    position: fixed;
    z-index: 2;
    background-color: #fff;
}
table.v-table.v-datatable thead.sticky .v-datatable__progress {visibility: hidden;}

table.v-table.v-datatable thead,
table.v-table.v-datatable tfoot {
    width: 100%;/* scrollbar is average 1em/16px width, remove it from thead width */
    display: block;
    padding-right: 17px;
}
table.v-table.v-datatable tbody{
    display:block;
    overflow:auto;
    max-height:420px;
    width:100%;
}
table.v-table.v-datatable tbody tr {display: block;}
table.v-table.v-datatable thead tr,
table.v-table.v-datatable tfoot tr {
    /* display:block; */
    position: relative;
}
table.v-table.v-datatable th,
table.v-table.v-datatable td {
    border: 1px solid transparent; 
    box-sizing: border-box;
}

.modal-content {display: contents !important;}

.v-text-field--box > .v-input__control > .v-input__slot:before{border: none;}
.v-text-field--box > .v-input__control > .v-input__slot{ border-radius: 5px; margin-bottom: 0;}
.v-select.v-text-field--enclosed:not(.v-text-field--single-line) .v-select__selections {padding-top: 0px;}
.v-text-field.v-text-field--enclosed .v-input__prepend-outer, 
.v-text-field.v-text-field--enclosed .v-input__prepend-inner, 
.v-text-field.v-text-field--enclosed .v-input__append-inner, 
.v-text-field.v-text-field--enclosed .v-input__append-outer {margin-top: 10px;}
.v-text-field--box > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outline > .v-input__control > .v-input__slot {min-height: 44px;}
.v-text-field--box .v-label, .v-text-field--full-width .v-label, .v-text-field--outline .v-label {top: 12px; font-size: 12px;}
.theme--light.v-text-field--box > .v-input__control > .v-input__slot{background-color: #fff; 
    /* box-shadow: 1px 1px 10px -5px #999; */
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.v-text-field.v-text-field--enclosed .v-text-field__details{display: none;}

.v-list__tile{height: 34px;}
.v-list__tile__title {height: 14px; line-height: 10px; font-size: 12px;}
.v-select__selection--comma{font-size: 13px; margin-top: 18px;}