.card-container{
    padding: 10px;
}

.force-elevation-0{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.row-kasijarak .row+.row {
    margin-top: 16px;
    margin-top: 1rem;
}

/* ----- main 3 colors ------
#5cb1b1
#369fb5
#397fa4
----- end ----- */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

body{background-color: #fafafa !important;}

.bg-2 {
    background: linear-gradient(
        rgba(255, 255, 255, 1), 
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.3)
      ),
      url('../images/u2.png') center
      , url('../images/u2.png') center;
    background-size: cover;
}

.btn.btn-link:hover{text-decoration: none;}
.v-btn.green-tosca {background-color: #00CC99 !important;}
.v-btn.red-neon {background-color: #FF0033 !important;}
.v-icon.icon-active {color: #000;}
.v-icon.icon-active::before {
    content: "";
    position: absolute;
    background-color: rgba(170,170,170,0.5); 
    padding: 13px; 
    border-radius: 50%;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
  background-color: #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 7px !important;
  border: none !important;
}

.card a {color: #5cb1b1;}
.card a:hover {color: #397fa4;}

.card.card-v1:hover {
  box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-circle {
  height: 450px;
  width: 150%;
  background: rgb(85,180,183);
  /* background: linear-gradient(45deg, rgba(85,180,183,1) 20%, rgba(85,180,183,1) 30%, rgba(1,115,170,1) 60%, rgba(1,115,170,1) 70%); */
  background: linear-gradient(210deg, rgba(86, 184, 187, 1) 0%, rgba(86, 184, 187, 1) 0%, rgba(87, 202, 157, 1) 90%, rgba(87, 202, 157, 1) 100%);
  background-size: cover;
  position: absolute;
  /* border-radius: 50%; */
  left: 50%;
  top: -270px;
  transform: translateX(-50%);
}
.card.card-v1:hover .card-circle{width: 180%; top: -260px;}
.card.card-v1 .title-wrapper{
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.card.card-v1 .title-1 {
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  font-family: 'Noto Sans', serif;
  font-weight: bold;
}
.card.card-v1:hover .title-1{ font-size: 24px; margin-top: 50px;}
.card.card-v1 .card-icon{height: 60px; top: 40px;}
.card.card-v1:hover .card-icon {height: 70px; top: 35px;}
.card .card-content{
  margin-top: 200px;
  padding: 0px 20px;
}
.card .v-datatable__actions{justify-content: space-between;}
.card .v-datatable__actions__select,
.card .v-datatable__actions__range-controls {
    -webkit-box-flex: 0;
        margin: 0 !important;
}
.card .v-datatable__actions__select {
    max-width: 45%;
}
.card .v-datatable__actions__range-controls {
    max-width: 55%;
}
.card .v-datatable__actions__select .v-select {
    margin-left: 20px;
}
.card .v-datatable__actions__pagination {
    margin: 0 10px;
}

.card.card-v2 {padding: 15px;}
.card.card-v2 .title-1 {font-weight: 600; font-size: 16px;}
.card.card-v2 .title-2 {font-weight: 700; font-style: normal; font-size: 20px; color: #0072AA;}

.card-circle-left {
    width: 225px;
    height: 130%;
    background: rgb(85,180,183);
    background: linear-gradient(45deg, rgba(85,180,183,1) 20%, rgba(85,180,183,1) 30%, rgba(1,115,170,1) 60%, rgba(1,115,170,1) 70%);
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
}
.card-v3-wrapper {display: flex;
    align-items: center;
    justify-content: center;}
.card.card-v3 {padding: 15px;}
.card.card-v3:hover .card-circle-left{left: -60px; height: 135%;}
.card.card-v3 .card-icon{width: 80px; height: 80px; z-index: 1; margin: 20px;}
.card.card-v3:hover .card-icon {}
.card.card-v3 .card-content{margin-top: 0; display: flex; align-items: center; width: 100%; height: 120px;}
.card.card-v3 .title-1 {font-weight: 600; font-size: 16px; color: #666666;}
.card.card-v3 .title-2 {
    font-weight: 700; 
    font-style: normal; 
    font-size: 12px; 
    background-color: #0072AA; 
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 12px;
    border-radius: 25px 25px 0px 25px;
}