.card-container{
    padding: 10px;
}

.force-elevation-0{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.row-kasijarak .row+.row {
    margin-top: 16px;
    margin-top: 1rem;
}

/* ----- main 3 colors ------
#5cb1b1
#369fb5
#397fa4
----- end ----- */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

body{background-color: #fafafa !important;}

.btn.btn-link:hover{text-decoration: none;}
.v-btn.green-tosca {background-color: #00CC99 !important;}
.v-btn.red-neon {background-color: #FF0033 !important;}
.v-icon.icon-active {color: #000;}
.v-icon.icon-active::before {
    content: "";
    position: absolute;
    background-color: rgba(170,170,170,0.5); 
    padding: 13px; 
    border-radius: 50%;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
  background-color: #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 7px !important;
  border: none !important;
}

.card a {color: #5cb1b1;}
.card a:hover {color: #397fa4;}

.card:hover {
  box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card_circle {
  height: 400px;
  width: 150%;
  background: rgb(85,180,183);
  background: linear-gradient(45deg, rgba(85,180,183,1) 20%, rgba(85,180,183,1) 30%, rgba(1,115,170,1) 60%, rgba(1,115,170,1) 70%);
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: -270px;
  transform: translateX(-50%);
}
.card:hover .card_circle{width: 180%; margin-top: -260px;}
.card:hover h2{ font-size: 26px; margin-top: 45px;}

.card h2 {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  z-index: 9999;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  font-family: 'Noto Sans', serif;
  font-weight: bold;
}
.card .card-content{
  margin-top: 150px;
  padding: 0px 20px;
}
.card .v-datatable__actions{justify-content: space-between;}
.card .v-datatable__actions__select,
.card .v-datatable__actions__range-controls {
    -webkit-box-flex: 0;
        margin: 0 !important;
}
.card .v-datatable__actions__select {
    max-width: 45%;
}
.card .v-datatable__actions__range-controls {
    max-width: 55%;
}
.card .v-datatable__actions__select .v-select {
    margin-left: 20px;
}
.card .v-datatable__actions__pagination {
    margin: 0 10px;
}